<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Do not rewrite if it's an existing directory or file
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Check if the requested path with .html exists as a file
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html [L]
</IfModule>
