MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=flueguard_db
JWT_SECRET=super_secret_jwt_key_here
JWT_EXPIRATION=1d
PORT=3000

GOOGLE_PLAY_PACKAGE_NAME=cl.flueguard.app
GOOGLE_PLAY_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PLAY_PRIVATE_KEY=
GOOGLE_PLAY_RTDN_SECRET=

# Brevo (Sendinblue) configuration
BREVO_API_KEY=xkeysib-su_api_key_aqui
BREVO_SENDER_EMAIL=no-reply@flueguard.cl
BREVO_SENDER_NAME=FlueGuard

# Password reset config & URLs
FRONTEND_RESET_PASSWORD_URL=https://flueguard.cl/reset-password
FORGOT_PASSWORD_CODE_EXP_MINUTES=10
FORGOT_PASSWORD_TOKEN_EXP_MINUTES=15
FRONTEND_RESET_TOKEN_LENGTH=64
APP_URL=https://flueguard.cl
BACKEND_URL=http://localhost:3000

